@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-white;
}

#app {
  font-family: "Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  @apply text-primary;
}

h1 {
  @apply font-extrabold text-3xl;
}

h2 {
  @apply font-medium text-xl;
}

a {
  @apply underline text-primary;
}
